# II. Python의 변수와 자료구조


2019/01/26 (sat)

In [1]:
# For Importing toggle.py in misc directory
import sys
sys.path.append("../misc")
from toggle import *


<h1 style = "background-color: rgba(185, 109, 106, 0.3);" > I. Python의 변수</h1>
> Python에서 Data를 담는 "변수" 라는 개념에 대해서 배워보겠습니다.

<h2 style="background-color: rgba(1, 56, 120, 0.1)"> 1. 변수는 무엇인가. </h2>

> 변수는 데이터를 담는 공간입니다.


![](../images/13_Var_grim.png)

#### (1) 변수에는 값을 저장할 수 있습니다.

In [2]:
a = True # Boolean 형(참 거짓)
x = 1 # 정수형
y = 1.2 # 실수형
z = "string" # 문자열형

In [3]:
# 1을 담았던 x에 다른 값을 덮어 씌울 수 있습니다.
x = "hello python"

#### (2) 변수에는 변수를 저장할 수 있습니다.

In [4]:
# y에 있었던 값을 x에 담을 수 있습니다.
x = y
print("x : ",x)
print("y : ",y)

x :  1.2
y :  1.2

In [5]:
# z를 x,y에 넣기 위해 아래와 같이 작성할 수 있습니다.
x = y = z
print("x : ",x)
print("y : ",y)
print("z : ",z)

x :  string
y :  string
z :  string

#### (3) 변수에는 결과를 저장할 수 있습니다.

In [6]:
# x에 1과 2를 더한 값을 저장할 수 있습니다.
x = 1 + 2
x

3

### 예제1. 변수에 데이터 저장하기
Q. `bank` 라는 변수에 `12000`을 담아보세요.

![](../images/14_예제_변수담기.png)

In [7]:
# 해당 셀에 답을 입력해주세요.
bank = 12000

In [8]:
answer = 12000

try:
    correct = (answer == bank)
except NameError as e:
    print("틀렸습니다. 변수명은 bank로 작성해주셔야 합니다. ")
else:
    if correct:
        print("정답입니다 !")
    else:
        print("틀렸습니다. 값을 다시 확인 해 주세요.")
        
toggle(text="　")

정답입니다 !

In [9]:
##########################

bank = 12000

##########################
toggle(text="클릭하여 정답확인")

<hr>

<h1 style = "background-color: rgba(185, 109, 106, 0.3);" > II. Python의 자료구조</h1>

> 파이썬에서는 기본 변수이외에도 List, Tuple, Set, Dictionary 와 같은 다양한 자료구조를 지원합니다.

<h2 style="background-color: rgba(1, 56, 120, 0.1)"> 1. List </h2>

    list(리스트)는 여러개의 객체를 담을 수 있습니다.
    list는 요소들의 순서가 유의미합니다.
    list는 한번 생성된 이후 수정, 삭제, 추가가 가능합니다.

### (1) List의 생성
list 내에는 숫자 뿐 아니라 다양한 타입의 변수를 담을 수 있습니다.

In [10]:
# 비어있는 List를 생성합니다.
lst0 = []
lst0 = list()
lst0

[]

In [11]:
# 여러개의 숫자들을 저장합니다.
lst1 = [1,2,3,4,5]
lst1

[1, 2, 3, 4, 5]

In [12]:
# 정수 이외의 실수나 text도 담을 수 있습니다.
lst2 = [1,2,3,5.5,"str1"]
lst2

[1, 2, 3, 5.5, 'str1']

In [13]:
# 리스트 내에 리스트 또는 변수를 담을 수 있습니다.
var1 = 1
lst3 = [var1, 2,3,4, lst2]
lst3

[1, 2, 3, 4, [1, 2, 3, 5.5, 'str1']]

### (2) List에서 값 얻기
list 뒤의 대괄호에 index를 넣어 값을 얻습니다.

In [14]:
lst = [1,2,3,4,5]

In [15]:
# list의 2번째 index 값 가져오기
# *주의 : python 에서 index는 0부터 시작합니다.
element_1 = lst[2]
element_1

3

In [16]:
# list의 마지막 값 얻기
# 마지막 index은 -1로, 역 순으로 -2, -3으로 진행합니다.
element_4 = lst[-2]
element_4

4

In [17]:
# list의 범위 지정
# 1번째 이상 4번째 미만 값을 가져오기 위해서는 :을 이용합니다.
element_2 = lst[1:4]
element_2

[2, 3, 4]

In [18]:
# list의 세번째 이후 값 얻기
element_3 = lst[3:]
element_3

[4, 5]

In [19]:
# list의 범위에서 step 값을 주어 그 값만큼 건너뛰어 가져올 수 있습니다.
element_5 = lst[0:5:2]
element_5

[1, 3, 5]

In [20]:
# list에 값이 있는지는 in 연산자를 통해 알 수 있습니다.
1 in lst

True

### (3) List에 값 추가하기
list는 `append()` 또는 `insert()`를 통해 값을 추가 해 줍니다.

In [21]:
lst = [1,2,3,4,5]

In [22]:
# lst의 가장 뒤에 값 추가하기
lst.append(6)
lst

[1, 2, 3, 4, 5, 6]

In [23]:
# lst 의 세번째에 2.5의 값 추가하기
lst.insert(2,2.5)
lst

[1, 2, 2.5, 3, 4, 5, 6]

### (4) List의 특정 원소값 수정하기
lst 의 특정 원소를 수정하는 것은 index를 활용

In [24]:
# lst의 세번째 값을 6으로 바꾸기
lst = [1,2,3,4,5]
lst[2] = 6
lst

[1, 2, 6, 4, 5]

### (5) List의 특정 원소 제거하기
`del` 을 이용한 방법과 `L.remove()`를 이용한 방법

In [25]:
lst = [1,2,3,4,5]

In [26]:
# del을 이용하여 lst의 세번째 값 제거하기
del lst[2]
lst

[1, 2, 4, 5]

In [27]:
# remove를 이용하여 lst내의 4 를 제거하기
# *주의 : 만약 remove(#) : # 의 값이 list에 존재하지 않을 경우 ValueError 가 발생한다.
lst.remove(4)
lst

[1, 2, 5]

<hr>
<h2 style="background-color: rgba(1, 56, 120, 0.1)"> 2. Tuple </h2>
    
    tuple(튜플)은 List와 비슷하지만, 한 번 생성하면 값을 변경할 수 없는 객체의 집합입니다.
    
    tuple은 list와 마찬가지로 여러개의 객체를 담을 수 있습니다.
    tuple은 list와 마찬가지로 다양한 타입이 함께 포함될 수 있습니다.
    
    tuple은 한 번 생성하면 tuple내의 값을 수정, 추가, 삭제가 불가능 합니다.

### (1) Tuple 생성하기

list와 비슷한 방식으로 동작합니다.

In [28]:
# 비어있는 Tuple를 생성합니다.
tpl = ()
tpl = tuple()
tpl

()

In [29]:
# 여러개의 숫자들을 저장합니다.
tpl = (1,2,3,4,5)
tpl

(1, 2, 3, 4, 5)

In [30]:
# 정수 이외의 실수나 text도 담을 수 있습니다.
tpl = (1,2,3,5.5,"str1")
tpl

(1, 2, 3, 5.5, 'str1')

In [31]:
# tuple 내에 tuple, 리스트 또는 변수를 담을 수 있습니다.
var_1 = 1
tpl_1 = [var_1, 2,3,4, tpl]
tpl_1

[1, 2, 3, 4, (1, 2, 3, 5.5, 'str1')]

### (2) Tuple에서 값 얻기
list와 동일한 형태로, Tuple 뒤의 대괄호에 index를 넣어 값을 얻습니다.

In [32]:
tpl = [1,2,3,4,5]

In [33]:
# tuple의 2번째 index 값 가져오기
# *주의 : python 에서 index는 0부터 시작합니다.
element_1 = tpl[2]
element_1

3

In [34]:
# tuple의 마지막 값 얻기
# 마지막 index은 -1로, 역 순으로 -2, -3으로 진행합니다.
element_4 = tpl[-2]
element_4

4

In [35]:
# tuple의 범위 지정
# 1번째 이상 4번째 미만 값을 가져오기 위해서는 :을 이용합니다.
element_2 = tpl[1:4]
element_2

[2, 3, 4]

In [36]:
# tuple의 세번째 이후 값 얻기
element_3 = tpl[3:]
element_3

[4, 5]

In [37]:
# tuple의 범위에서 step 값을 주어 그 값만큼 건너뛰어 가져올 수 있습니다.
element_5 = tpl[0:5:2]
element_5

[1, 3, 5]

In [38]:
# tuple에 값이 있는지는 in 연산자를 통해 알 수 있습니다.
1 in tpl

True

<hr>
<h2 style="background-color: rgba(1, 56, 120, 0.1)"> 3. Set. </h2>

    set(집합)은 여러개의 객체를 담을 수 있는 리스트와 유사하지만 2가지가 다릅니다.
        1. 중복을 허용하지 않는다.
        2. 순서가 없다.
    중복을 허용하지 않는 set의 특징 덕분에 data의 중복을 제거하기 위한 수단으로 자주 쓰입니다. 대신 Set은 순서가 없기 때문에 list처럼 인덱싱으로 값을 얻을 수 없습니다.

### (1) Set 생성하기

set 내에는 숫자 뿐 아니라 다양한 타입의 변수를 담을 수 있습니다.

In [39]:
# 비어있는 Set를 생성합니다.
set0 = set()
set0

set()

In [40]:
# 여러 값을 저장 가능하지만, 중복은 허용하지 않습니다.
set1 = {1,1,2,"2","text","text",3}
set1

{1, 2, '2', 3, 'text'}

In [41]:
# set은 list나 tuple과 다르게, set 안에 list를 넣지 못합니다.
# 왜냐하면 list는 변경가능하기 때문에, 
# set의 "중복을 허용하지 않는다" 특징을 깰 수 있기 때문입니다.
set2 = {1,2,[1,2,3]}

TypeError: unhashable type: 'list'

In [42]:
# 하지만 tuple은 변경이 불가능하기 때문에
# set에 추가가 가능합니다.
set2 = {1,2,(1,2,3)}

### (2) Set에서 값 얻기
set에는 순서가 없기 때문에 index를 통해 값을 가져올 수 없습니다. 하지만 값이 있는지는 확인할 수 있습니다.

In [43]:
set1 = {1,1,2,"2","text","text",3}

1 in set1

True

### (3) Set에 값 추가하기
Set는 `add()`와 `update()` 를 통해 값을 추가 해 줍니다.

In [44]:
set1 = {1,2,3,4,5}

In [45]:
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

In [46]:
set1.update({7,8,9}) # 여러 개의 값을 추가할 때에는 update를 이용
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### (4) Set의 특정 원소 제거하기
`remove()`를 이용하여 값을 제거할 수 있습니다.

In [47]:
set1 = {1,2,3,4,5}

In [48]:
# remove를 이용하여 set내의 4 를 제거하기
# *주의 : 만약 remove(#) : # 의 값이 set에 존재하지 않을 경우 ValueError 가 발생한다.
set1.remove(4)
set1

{1, 2, 3, 5}

<hr>
<h2 style="background-color: rgba(1, 56, 120, 0.1)"> 4. Dictionary </h2>

dict 자료형은 키와 값을 한 쌍으로 가지는 자료형으로, `list의 index` 대신 key를 이용해서 데이터를 찾을 수 있다. 딕셔너리에서 저장된 자료는 순서가 없고 키는 set과 같이 중복을 허용하지 않는다.

### (1) Dictionary 생성하기
dict 내에는 숫자 뿐 아니라 다양한 타입의 변수를 담을 수 있습니다.

In [49]:
# 비어있는 dict를 생성합니다.
dict0 = {} #
dict0 = dict()
dict0

{}

In [50]:
# 여러개의 key와 value들을 저장합니다.
dict1 = {'1':'a',
        '2':'b',
        '3':1,
        'c':'test'}
dict1

{'1': 'a', '2': 'b', '3': 1, 'c': 'test'}

In [51]:
# dict 내에 리스트나 tuple, dict로 포함할 수 있습니다.
dict1 = {'1':'a',
        '2':[1,2,3,4],
        '3':(1,2,3),
        'c':{1:'1',2:'2'}}
dict1

{'1': 'a', '2': [1, 2, 3, 4], '3': (1, 2, 3), 'c': {1: '1', 2: '2'}}

### (2) dict에서 값 얻기
Dcit 뒤의 대괄호에 key값을 넣어 가져옵니다.

In [52]:
dict1 = {"1":"a","2":"b","3":4}

In [53]:
dict1['1']

'a'

In [54]:
dict1[3] # 문자열과 정수형은 구분해주어야 한다.

KeyError: 3

### (3) Dict에 값 추가 혹은 변경하기
Dict는 key를 통한 값을 가져오는 것과 비슷한 방식으로 변경할 수 있습니다.

In [55]:
dict2 = {"1":"a","2":"b","3":"4"}

In [56]:
# dict2의 key '4'에 'hello'를 추가
dict2['4'] = 'hello'
dict2

{'1': 'a', '2': 'b', '3': '4', '4': 'hello'}

In [57]:
# dict2의 key '1'에 'a' 대신 10으로 변경
dict2['1'] = 10
dict2

{'1': 10, '2': 'b', '3': '4', '4': 'hello'}

### (4) Dict의 특정 원소 제거하기
`del` 을 이용한 방법과 `L.pop()`를 이용한 방법

In [58]:
dict2 = {"1":"a","2":"b","3":"4"}

In [59]:
# del을 이용하여 '1'의 키 값을 가진 쌍 제거하기
del dict2['1']
dict2

{'2': 'b', '3': '4'}

In [60]:
# pop를 이용하여 '2'의 키 값을 가진 쌍 제거하기
# *주의 : 만약 pop(#) : # 의 값이 dict에 존재하지 않을 경우 ValueError 가 발생한다.
dict2.pop('2')
dict2

{'3': '4'}

<hr>
<h2 style="background-color: rgba(1, 56, 120, 0.1)"> 5. 기본 자료구조를 다루기 위한 함수들 </h2>

위의 자료 구조를 보다 잘 다루기 위해서 Python에서는 자료구조의 크기를 재는 `len` 함수와 자료구조를 정렬하는 `sorted` 함수를 제공한다.

### (1) len으로 크기 재기

set 내에는 숫자 뿐 아니라 다양한 타입의 변수를 담을 수 있습니다.

In [61]:
lst = [1,2,3,4,5]
len(lst)

5

In [62]:
dict1 = {1:2,2:[3,4,5]}
len(dict1) # 몇개의 Key가 있는지를 반환합니다

2

### 2) sorted로 정렬하기

모든 자료구조는 sorted를 통해 정렬할 수 있습니다.

In [63]:
lst = [1,3,2,4,5]
sorted(lst) # 기본적으로 오름차순으로 정렬합니다.

[1, 2, 3, 4, 5]

In [64]:
sorted(lst,reverse=True) # reverse=True하면 내림차순으로 정렬합니다.

[5, 4, 3, 2, 1]

In [65]:
set1 = {1,5,3,2,4,6}
sorted(set1) # set을 정렬하면, list로 원소들을 정렬한 채 반환합니다.

[1, 2, 3, 4, 5, 6]

<hr>

Copyright(c) 2019 by Public AI. All rights reserved.<br>
Writen by PAI, SeonYoul Choi ( Best10@publicai.co.kr )  last updated on 2019/01/24
<hr>